@import "../var.scss";

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio:not(:last-child) {
  margin-bottom: var(--spacing-20);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}
